/*External font stylesheet*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,700&display=swap');

@font-face {
    font-family: 'Bellerose';
    src: local('Bellerose'), url('../font/Bellerose.ttf') format('truetype');
}

:root {
    --red: rgb(167, 39, 76);
    --home-hero: #c0c0c0;
    --gold: #D2BB5B;
}

* {
    z-index: 1;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
    color: #000;
    padding-bottom: 30px;
}

p {
    line-height: 28px;
    color: #666;
    font-weight: 300;
}

b {
    font-weight: bold;
    color: var(--red);
}

.big-text {
    font-size: 70px;
    font-weight: 900;
}

.med-text {
    font-size: 50px;
    font-weight: 700;
}

.normal-text {
    font-size: 20px;
}

.small-text {
    font-size: 14px;
}

.title {
    font-size: 45px;
    color: var(--red);
    font-weight: 600;
    text-align: center;
    margin: 40px 0;
    font-family: "Bellerose";
    text-transform: uppercase;
}

.subtitle {
    font-size: 25px;
    color: var(--red);
    font-weight: 600;
    margin-bottom: 20px;
}

.no-padding {
    padding: 0;
}

.center {
    text-align: center;
}

/* PARAGRAPH */
.paragraph {
    padding: 5px 30px;
}

.img-paragraph {
    width: 100%;
}

.img-paragraph .subtitle {
    margin-bottom: 0;
}

.img-paragraph img {
    width: 100%;
    padding: 0 10px 50px 10px;
}


/* Buttons */
.btn-container {
    margin: 0 auto;
    text-align: center;
}

.button {
    padding: 18px 28px;
    background: rgb(167, 39, 76);
    color: #fff;
    display: inline-block;
    border-radius: 35px;
    text-decoration: none;
    font-weight: 900;
    text-transform: uppercase;
    margin: 3%;
}

img.blackwhite {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray;
    /* Fix per Explorer */
}