#mainContainer {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr .5fr .3fr .2fr;
    grid-template-areas:
        "carousel"
        "paragraph"
        "reservation"
        "footer"
    ;
    gap: 20px;
}
.header{
    grid-area: header;
}

.carousel {
    /* background-color: greenyellow; */
    grid-area: carousel;
    height: 100vh;
}

.paragraph {
    /* background-color: yellowgreen; */
    grid-area: paragraph;
}

.reservation {
    /* background-color: yellow; */
    grid-area: reservation;
}

footer {
    /* background-color: orange; */
    grid-area: footer;
}