#homeContainer {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr .5fr .3fr .2fr;
    grid-template-areas:
        "carousel"
        "paragraph"
        "reservation"
        "footer"
    ;
    gap: 20px;
}

#localeContainer {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: .25fr .5fr .5fr .25fr 1.5fr 1.5fr .3fr .1fr;
    grid-template-areas:
        "title1"
        "ph1"
        "ph2"
        "title2"
        "emp1"
        "emp2"
        "reservation"
        "footer"
    ;
    gap: 20px;
}

@media (min-width: 768px) {
    #localeContainer {
        grid-template-columns: 2fr;
        grid-template-rows: .25fr .5fr .5fr .25fr .5fr .5fr .3fr .1fr;
        grid-template-areas:
            "title1"
            "ph1" "ph2"
            "title2"
            "emp1" "emp2"
            "reservation"
            "footer"
        ;
        gap: 20px;
    }
}

header {
    grid-area: header;
}

.carousel {
    /* background-color: greenyellow; */
    grid-area: carousel;
    height: 100vh;
}

.ph1 {
    grid-area: ph1;
}

.ph2 {
    grid-area: ph2;
}

.emp1 {
    grid-area: emp1;
}

.emp2 {
    grid-area: emp2;
}

.title {
    grid-area: title;
}

.title1 {
    grid-area: title1;
}

.title2 {
    grid-area: title2;
}

.paragraph {
    /* background-color: yellowgreen; */
    grid-area: paragraph;
}

.reservation {
    /* background-color: yellow; */
    grid-area: reservation;
}

footer {
    /* background-color: orange; */
    grid-area: footer;
}