/* Mobile Header Style*/
header{
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    /* background-color: yellow; */
    border-bottom: 10px dotted yellow;
    background: white;
}
.logo-image{
    position: relative;
    width: 140px;
    margin: 0 auto;
}
.logo-image img{
    width: 100%;
    margin-top: 7px;
}
.hamburger{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 20px;
    right: 0;
}
.hamburger span{
    background: black;
    height: 3px;
    width: 30px;
    display: block;
    margin: 5px;
}

body{height: 1000px;}